:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.chat_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat_header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.chat_body {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    overflow: scroll;
    padding: 10px 20px;
}

.chat_messages {
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    background: #0099ff;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 10px 0;
    animation: smoothie 1s ease-in;
}

@keyframes smoothie {
    from {
        opacity: 0;
        transform: translateY(-30px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chat_messages::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #0099ff transparent transparent transparent;
}

.chat_message {
    font-size: 1.2rem;
}

.chat_footer {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.chat_input {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.chat_button {
    position: relative;
    width: 100px;
    height: 40px;
    background-color: #0099ff;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}