<div class="chat_container">
  <div class="chat_header">
    <h1 class="chat_title">
      Chat
    </h1>
    <span class="chat_counter">
      {{response.length}}
    </span>
  </div>
  <div class="chat_body">
    <div class="chat_messages" *ngFor="let message of response">
      <span class="chat_message">
        {{message.mensaje}}
      </span>
    </div>
  </div>
  <div class="chat_footer">
      <input class="chat_input" [(ngModel)]="comentario" type="text" placeholder="Type your message here..." id="input">
      <button class="chat_button" type="button" name="button" id="send" (click)="sendMessage(comentario)">Send</button>
</div>